In [68]:
import yfinance as y
import pandas as pd
import os

df_apple = y.download('AAPL')
df_apple.columns = df_apple.columns.droplevel(1)
df_apple.reset_index(inplace=True)
df_apple.head()

[*********************100%***********************]  1 of 1 completed

Price       Date  Adj Close     Close      High       Low      Open     Volume
0     1980-12-12   0.098834  0.128348  0.128906  0.128348  0.128348  469033600
1     1980-12-15   0.093678  0.121652  0.122210  0.121652  0.122210  175884800
2     1980-12-16   0.086802  0.112723  0.113281  0.112723  0.113281  105728000
3     1980-12-17   0.088951  0.115513  0.116071  0.115513  0.115513   86441600
4     1980-12-18   0.091530  0.118862  0.119420  0.118862  0.118862   73449600

In [69]:
df_comm = pd.read_csv("commodity_futures.csv").reset_index().drop(columns=['index'])
df_comm.reset_index(inplace=True)

df_comm.head()

,index,Date,NATURAL GAS,GOLD,WTI CRUDE,BRENT CRUDE,SOYBEANS,CORN,COPPER,SILVER,...,ZINC,ULS DIESEL,NICKEL,WHEAT,SUGAR,GASOLINE,COFFEE,LEAN HOGS,HRW WHEAT,COTTON
0,0,2000-01-03,NaN,NaN,NaN,NaN,456.50,200.75,NaN,NaN,...,1237.50,NaN,8446.0,247.50,6.10,NaN,116.50,55.975,274.25,51.07
1,1,2000-01-04,2.176,283.7,25.55,24.39,464.25,203.00,0.8480,5.375,...,1215.00,67.78,8314.0,247.25,5.77,NaN,116.25,55.625,274.00,50.73
2,2,2000-01-05,2.168,282.1,24.91,23.73,469.25,203.00,0.8565,5.210,...,1209.25,66.55,8307.0,249.75,5.81,NaN,118.60,55.075,276.25,51.56
3,3,2000-01-06,2.196,282.4,24.78,23.62,468.00,203.75,0.8530,5.167,...,1212.00,66.28,8252.0,248.50,5.77,NaN,116.85,55.175,275.00,52.08
4,4,2000-01-07,2.173,282.9,24.22,23.09,471.50,207.00,0.8540,5.195,...,1209.25,64.75,8174.0,251.75,5.84,NaN,114.15,55.625,277.75,53.96

In [75]:
from dateutil.parser import isoparse

df_apple['Date'] = pd.to_datetime(df_apple['Date']).dt.date
df_comm['Date'] = pd.to_datetime(df_comm['Date']).dt.date
merged = pd.merge(df_apple, df_comm, how='inner', on='Date').drop(columns=['index', 'GASOLINE'])
merged

,Date,Adj Close,Close,High,Low,Open,Volume,NATURAL GAS,GOLD,WTI CRUDE,...,SOYBEAN MEAL,ZINC,ULS DIESEL,NICKEL,WHEAT,SUGAR,COFFEE,LEAN HOGS,HRW WHEAT,COTTON
0,2000-01-03,0.843076,0.999442,1.004464,0.907924,0.936384,535796800,NaN,NaN,NaN,...,146.4,1237.50,NaN,8446.0,247.50,6.10,116.50,55.975,274.25,51.07
1,2000-01-04,0.771997,0.915179,0.987723,0.903460,0.966518,512377600,2.176,283.7,25.55,...,147.9,1215.00,67.78,8314.0,247.25,5.77,116.25,55.625,274.00,50.73
2,2000-01-05,0.783294,0.928571,0.987165,0.919643,0.926339,778321600,2.168,282.1,24.91,...,150.7,1209.25,66.55,8307.0,249.75,5.81,118.60,55.075,276.25,51.56
3,2000-01-06,0.715509,0.848214,0.955357,0.848214,0.947545,767972800,2.196,282.4,24.78,...,149.1,1212.00,66.28,8252.0,248.50,5.77,116.85,55.175,275.00,52.08
4,2000-01-07,0.749401,0.888393,0.901786,0.852679,0.861607,460734400,2.173,282.9,24.22,...,149.1,1209.25,64.75,8174.0,251.75,5.84,114.15,55.625,277.75,53.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5930,2023-07-31,194.971786,196.449997,196.490005,195.259995,196.059998,38824100,2.634,1970.5,81.80,...,451.2,2571.31,299.09,22127.0,665.75,24.11,164.65,104.125,812.75,85.44
5931,2023-08-01,194.138092,195.610001,196.729996,195.279999,196.240005,35175100,2.560,1940.7,81.37,...,456.1,2574.80,302.34,22189.0,652.25,24.39,164.55,103.675,804.50,86.87
5932,2023-08-02,191.130905,192.580002,195.179993,191.850006,195.039993,50389300,2.477,1937.4,79.49,...,451.8,2486.50,300.43,21379.0,640.00,24.20,166.95,102.675,787.00,85.08
5933,2023-08-03,189.731522,191.169998,192.369995,190.690002,191.570007,61235200,2.565,1932.0,81.55,...,451.2,2494.00,307.49,21402.0,627.00,24.02,164.75,101.000,767.50,85.28
5934,2023-08-04,180.620605,181.990005,187.380005,181.919998,185.520004,115799700,2.581,1939.0,82.34,...,445.0,NaN,306.23,NaN,632.00,23.78,162.55,100.700,760.25,85.48

In [104]:
eurusd = y.download('EURUSD=X', start=merged['Date'].iloc[0], end=merged['Date'].iloc[-1])
eurusd.columns = eurusd.columns.droplevel(1)
eurusd.reset_index(inplace=True)
adj_eur =  eurusd.drop(columns=['High','Low', 'Open', 'Volume'])
adj_eur.head()

[*********************100%***********************]  1 of 1 completed

Price       Date  Adj Close     Close
0     2003-12-01   1.196501  1.196501
1     2003-12-02   1.208897  1.208897
2     2003-12-03   1.212298  1.212298
3     2003-12-04   1.208094  1.208094
4     2003-12-05   1.218695  1.218695

In [118]:
merged['Date'] = pd.to_datetime(merged['Date'])
merged_usd = pd.merge(merged, adj_eur, how='inner', on='Date')
merged_usd.rename(columns={'Adj Close_y':'adj_forex_rate', 'Close_y':'forex_rate', 'Adj Close_x':'Adj Close', 'Close_x':'Close'},inplace=True)
merged_usd.head()

,Date,Adj Close,Close,High,Low,Open,Volume,NATURAL GAS,GOLD,WTI CRUDE,...,ULS DIESEL,NICKEL,WHEAT,SUGAR,COFFEE,LEAN HOGS,HRW WHEAT,COTTON,adj_forex_rate,forex_rate
0,2003-12-01,0.327026,0.387679,0.390179,0.375000,0.375714,361536000,5.283,402.7,29.95,...,83.40,12568.0,395.75,6.29,59.60,51.025,410.0,68.25,1.196501,1.196501
1,2003-12-02,0.324465,0.384643,0.391071,0.382321,0.385714,205296000,5.579,403.7,30.78,...,86.26,12603.0,395.75,6.38,62.00,50.100,410.0,68.50,1.208897,1.208897
2,2003-12-03,0.316782,0.375536,0.390000,0.374286,0.384643,191296000,5.756,403.9,31.10,...,86.62,12815.0,402.00,6.58,62.50,49.475,415.0,68.20,1.212298,1.212298
3,2003-12-04,0.318590,0.377679,0.378036,0.370893,0.373929,177940000,6.337,403.3,31.26,...,88.19,12698.0,399.50,6.71,60.95,49.125,410.0,67.00,1.208094,1.208094
4,2003-12-05,0.314070,0.372321,0.377679,0.370179,0.373214,186177600,6.135,406.4,30.73,...,86.36,12791.0,391.00,6.65,61.90,49.050,400.0,67.74,1.218695,1.218695

In [119]:
for i in range(7,len(merged_usd.columns) - 2):
        merged_usd.iloc[:, i] *= merged_usd['adj_forex_rate']
merged_usd.head()

,Date,Adj Close,Close,High,Low,Open,Volume,NATURAL GAS,GOLD,WTI CRUDE,...,ULS DIESEL,NICKEL,WHEAT,SUGAR,COFFEE,LEAN HOGS,HRW WHEAT,COTTON,adj_forex_rate,forex_rate
0,2003-12-01,0.327026,0.387679,0.390179,0.375000,0.375714,361536000,6.321117,481.831103,35.835216,...,99.788215,15037.629272,473.515419,7.525994,71.311482,61.051483,490.565563,81.661219,1.196501,1.196501
1,2003-12-02,0.324465,0.384643,0.391071,0.382321,0.385714,205296000,6.744439,488.031909,37.209864,...,104.279496,15235.734832,478.421174,7.712766,74.951643,60.565763,495.647963,82.809477,1.208897,1.208897
2,2003-12-03,0.316782,0.375536,0.390000,0.374286,0.384643,191296000,6.977985,489.646984,37.702454,...,105.009215,15535.593216,487.343619,7.976918,75.768597,59.978422,503.103487,82.678694,1.212298,1.212298
3,2003-12-04,0.318590,0.377679,0.378036,0.370893,0.373929,177940000,7.655693,487.224407,37.765026,...,106.541831,15340.380650,482.633649,8.106312,73.633344,59.347630,495.318638,80.942314,1.208094,1.208094
4,2003-12-05,0.314070,0.372321,0.377679,0.370179,0.373214,186177600,7.476692,495.277521,37.450488,...,105.246473,15588.323740,476.509623,8.104320,75.437201,59.776974,487.477875,82.554378,1.218695,1.218695

In [ ]:
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor(max_depth=5, random_state=42)
tree.fit(X_train, y_train)

importances = tree.feature_importances_

from sklearn.tree import plot_tree
import matplotlib.pyplot as plt

plt.figure(figsize=(20, 10))
plot_tree(tree, feature_names=X.columns, filled=True)
plt.show()